*.EXE
*.MAK
*.MDP
*.NCB
*.PDB
*.BAT

*.exe
*.mak
*.mdp
*.ncb
*.pdb
*.bat

*.o

bspinfo/bspinfo
light/light
modelgen/modelgen
qbsp/qbsp
qcc/qcc
qfiles/qfiles
qlumpy/qlumpy
sprgen/sprgen
texmake/texmake
vis/vis

bin/
build/

*.swp

